<h2>License <small>Digital Signage for Everyone</small></h2>
<p>SFC Digital Signage - <a target="_blank"  href="https://www.sfcteknoloji.com.tr/" title="SFC Website">www.sfcteknoloji.com.tr</a>. Version {{ version }}<br />
    Copyright &copy 2006-2021 SFC Signage