<h2>License <small>Digital Signage for Everyone</small></h2>
<p>SFC Digital Signage - <a target="_blank"  href="http://www.sfctechnology.com/" title="SFC Website">www.sfctechnology.com</a>. Version {{ version }}<br />
    Copyright &copy 2006-2019 SFC Signage